<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChemVision AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="background-glow"></div>

    <div class="hero">

        <h1>ChemVision AI</h1>

        <p>
            Multi-Agent Intelligent Chemistry Research Platform
        </p>

        <a href="/dashboard">
    <button class="launch-btn">
        Launch Platform
    </button>
</a>

    </div>

</body>
</html>